/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;    background-color: '#e0e0e0';}
body { 
    margin: 0; 
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer{
    flex-grow: 1;
}

@import './uikit.css';
